@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  min-width: 500px;
  background: linear-gradient(to right, #fff, #076585);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: "Ubuntu", sans-serif;
}
